doctype html

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title LastFM Statistics
    link(href='css/tailwind.css' rel='stylesheet' type='text/css')
    link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
    link(rel='manifest' href='favicon/site.webmanifest')
    base(target="_blank")

body.mx-2.my-10.bg-base-100.text-neutral.flex-col.flex-center.min-h-screen.space-y-6
    //- begin header
    h1.text-center.uppercase.text-6xl(class='h-1/5')
        span.text-primary(class='font-[900]'): a(href="/") LastFM
        |  Stats Retriever
    //- begin main content + container div
    main(class='w-4/5')
        div.flex-col.flex-center.gap-6
            //- begin user info container
            h2 user info
            div.rounded-xl.p-6.bg-base-200.flex-row.flex-center.space-x-6
                img.w-24.h-24.rounded-full.ring-4.ring-primary.ring-offset-4.ring-offset-base-200(src=image)
                div.flex-col.flex-center.text-left
                    p.font-bold.text-2xl: a(href=url class="hover:underline").text-primary.decoration-secondary.decoration-2.underline-offset-4= username
                    p.text-lg user play count: #[b= plays]
            //- begin track info container
            h2 top tracks
            .grid.grid-cols-3.gap-4.w-full 
                each track in tracks 
                    .bg-base-200.rounded-xl.p-4.grid.grid-cols-2.items-center 
                        img.w-16.h-16.rounded(src=track.image)
                        .flex.flex-col 
                            p.font-bold: a(href=track.url)= track.name
                            p: a(href=track.artist.url)= track.artist.name
                
    //--------------------
    //- begin resubmit form
    h2 retrieve another user's info
    form.my-6.w-96.mx-auto.p-6.bg-base-200.rounded-3xl(action='/results')
        .form-control.w-full.gap-4
            label.label.gap-2.w-full
                span.label-text LastFM Username
                input#username.input.input-bordered.input-primary(type='text' placeholder='username123' name='username')
        .form-control.w-full.gap-4
            label.label.gap-2.w-full
                span.label-text Time Period
                select#period.select.select-primary.font-normal(name='period')
                    option(value='7day') Last week
                    option(value='1month') Last month
                    option(value='3month') Last 3 months
                    option(value='6month') Last 6 months
                    option(value='12month') Last year
                    option(value='overall') All time
        input.btn.btn-block.btn-secondary(type='submit' value='Resubmit')